@import "@/assets/variables.css";


header {
  /* Esté header afecta a todos los div que sean header */
    background-color: #941c1c; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-left: 1px;
    height: 150px;
  }


  .logo-container {
    background-color: #941c1c; /* Fondo rojo oscuro */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  
  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: border-bottom 0.3s;
  }
  
  nav a.active {
    border-bottom: 2px solid white;
    font-weight: bold;
  }
  
  .btnClose {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btnClose a {
    color: white;
    text-decoration: none;
  }
  
  .nav-item {
    position: relative;
  }
  
  .sub-menu {
    /* display: none; */
    position: absolute;
    top: 120%; /* Ajusta según tamaño del header */
    left: 0;
    background-color: #941c1c;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 0.5rem 0;
    min-width: 180px;
    z-index: 10;
    flex-direction: column;
    list-style: none;
  }
  
  .nav-item:hover .sub-menu {
    /* display: flex; */
  }
  
  .sub-menu li {
    padding: 0;
    margin: 0;
  }
  
  .sub-menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: opacity 5s ease;
  }
  
  .sub-menu a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .nav-link {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    transition: border-bottom 0.3s;
    cursor: pointer;
  }
  
  .nav-link.active {
    border-bottom: 2px solid white;
    font-weight: bold;
  }
  
  