@import "../../assets/variables.css";
 
.quiz-restart-button {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #020c02;
  color: rgb(24, 1, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quiz-restart-button:hover {
  background-color: #388e3c;
}

.quiz-canvas {
  min-width: 600px;
  min-height: 500px; /* Fija la altura */
  background: #e8f5e9;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(60, 100, 60, 0.12);
  border: 3px solid #388e3c;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-margin {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* <-- Esto evita que el canvas se mueva verticalmente */
  gap: 32px;
}

.feedback.correct {
  color: green;
  background-color: #e7fbe7;
  padding: 10px;
  border-radius: 6px;
}

.feedback.incorrecto {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 6px;
}



