@import "@/assets/variables.css"; 

/* Título exclusivo de esta sección */
.heart-failure-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .section,
  .section.reverse {
    flex-direction: column;
    align-items: stretch;
  }

  .card,
  .card-model {
    width: 100%;
  }

  .card-model canvas {
    height: 250px !important;
  }
}
