@import "@/assets/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");


.heart-failure {
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-claro);
    color: var(--color-rojo-oscuro);
    padding: 2rem;
    text-align: center; /* Centra el contenido */
    overflow-x: hidden;
  }
  
  .heart-failure h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .heart-canvas {
    width: 100%;
    min-height: 80vh; /* 80% del alto de la ventana */
    background-color: #ddd;
    border: 2px dashed var(--color-arena);
    border-radius: 1rem;
    margin: 0 auto 2rem;
    display: block;
    overflow: visible;
    aspect-ratio: 16/9;
  }
  
  .labels {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 1rem;
    color: var(--color-rojo-oscuro);
    margin-top: 1rem;
  }
  
  .info-section {
    background-color: var(--color-claro);
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 12px;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Limita el ancho del texto */
    margin-left: auto;  /* Centra el bloque */
    margin-right: auto; /* Centra el bloque */
  }
  
  .info-title {
    background-color: var(--color-rojo-vibrante);
    color: white;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }