@import "@/assets/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* Estilo del contenedor */
div {
  text-align: center;
  padding: 2rem;
  background-color: var(--color-claro);
  color: var(--color-rojo-oscuro);
}

/* Estilo para el título */
h1 {
  color: var(--color-rojo-oscuro);
  font-size: 2.5em;
  margin-bottom: 1.5rem;
}

/* Estilo para el botón */
button {
  padding: 0.8em 1.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color-claro);
  background-color: var(--color-rojo-vibrante);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-rojo-oscuro);
}

.home-description {
  text-align: left;
  max-width: 800px;
  line-height: 1.6;
}

.home-title {
  font-size: 2.5em;
  margin-bottom: 1.5rem;
  color: var(--color-rojo-oscuro);
}

.encabezado {
  background-color: darkred;
  color: white;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 2rem;
}

.titulo {
  color: darkred;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.descripcion {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.boton {
  background-color: black;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.boton:hover {
  background-color: #333;
}

.home-container {
  text-align: center;
  padding: 2rem;
  background-color: var(--color-claro);
  color: var(--color-rojo-oscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Efecto de un del "Conoce más sobre las enfermedades" */

:root {
  --rojo: #a01b1b;   /* rojo oscuro de la franja */
  --crema: #f8f2dc;  /* color de fondo de la página */
}
.banner {
  /* forma exterior (franja roja) */
  background: var(--rojo);
  border-top-right-radius: 8rem; /* curva de 180° a la derecha */
  border-bottom-right-radius: 8rem;

  /* ajusta el grosor de la “orilla” roja */
  padding: 0.65rem 0.65rem 0.65rem 0; /* sin padding a la izquierda */

  /* que solo ocupe lo necesario para el texto */
  width: max-content;
}

.banner-text{
   /* franja clara */
   background: var(--crema);
   display: block;                 /* para respetar padding arriba/abajo */
   padding: 0.5rem 2.5rem;         /* grosor interior */
   
   /* tipografía y alineación */
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 2rem;
   line-height: 1;
   color: var(--rojo);             /* texto en rojo */
   
   /* quita márgenes nativos */
   margin: 0;
   text-align: left;               /* alineado a la izquierda */
   
   /* curva interna que siga la exterior */
   border-top-right-radius: 7rem;
   border-bottom-right-radius: 7rem;
 
}
