@import "@/assets/variables.css";

.cardiac-hypertension-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.cardiac-hypertension-title {
  font-size: 2rem;
  color: var(--color-rojo-oscuro);
  text-align: center;
  margin-bottom: 2rem;
}


.model-container {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  margin-bottom: 2rem;
  display: flex;
  padding-left: 0px;
  
}


.healthyHeart-canvas {
  width: 100%;
  min-height: 10vh;
  background-color: #ddd;
  border: 2px dashed var(--color-arena);
  border-radius: 1rem;
  margin: 0 auto 2rem;
  display: block;
  overflow: visible;
  aspect-ratio: 16/9;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  text-align: inherit; /* se alineará según el contenedor */
  display: inline-block; /* permite que el texto se mueva visualmente */
}

.card-center {
  background-color: var(--color-arena);
  color: var(--color-primary);
  padding: 0.8rem 1.2rem;
  font-weight: normal;
  max-width: 2000px;
  align-items: left;
  text-align: left;
  height: 100%;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.card-right-1 {
  background-color: var(--color-arena);
  color: var(--color-primary);
  padding: 0.8rem 1.2rem;
  font-weight: normal;
  max-width: 2000px;
  height: 100%;
  margin-bottom: 2rem;
  border-radius: 10px;
  text-align: right;
  align-items: right;
}

.card-left {
  background-color: var(--color-arena);
  color: var(--color-primary);
  padding: 0.8rem 1.2rem;
  font-weight: normal;
  max-width: 2000px;
  align-items: center;
  height: 100%;
  margin-bottom: 2rem;
  border-radius: 10px;
  text-align: left;
  align-items: left;
}

.card-right-2 {
  background-color: var(--color-arena);
  color: var(--color-primary);
  padding: 0.8rem 1.2rem;
  font-weight: normal;
  max-width: 2000px;
  align-items: center;
  height: 100%;
  margin-bottom: 2rem;
  border-radius: 10px;
  text-align: right;
  align-items: right;
}



