
:root {
    /* Configuración de fuentes y accesibilidad */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Paleta de colores */
    --color-claro: #FEF9E1;
    --color-arena: #E5D0AC;
    --color-rojo-vibrante: #A31D1D;
    --color-rojo-oscuro: #6D2323;
    
    /* Esquema de colores */
    color-scheme: light dark;
    color: var(--color-rojo-oscuro);
    background-color: var(--color-claro);
}
