@import "@/assets/variables.css";

/* Estilo para las tarjetas */
.card {
  /* padding: 2em;
  background-color: var(--color-arena);
  color: var(--color-rojo-oscuro);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 300ms; */
}
